body {
    font-family: 'Courier New', Courier, monospace !important;
}

.attributes {
    padding-top: 7em;
}

.attributes-container {
    padding: 0.5em;
    padding-left: 3em;
    background-color: whitesmoke;
    border-radius: 5em;
}

.body-container {
    padding-top: 2em;
    padding-left: 2em;
}

.profile-pic-container {
    width: 18.75em;
    height: 18.75em;
    overflow: hidden;
    margin: 1em;
    border-radius: 50%;
}

.profile-pic {
    width: 18.75em;
    height: 18.75em;
    object-fit: cover;
}

.profile-pic:hover {
    transform: scale(1.05);
    transition: 0.05s;
}

.profile {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.navbar {
    margin-bottom: 0 !important;
}

.nav-item:hover {
    transform: scale(1.02);
}